/target
/*/target
/build
/*/build

# IDEA
/out
/*/out/
/.idea/*
.idea
# Icon for JetBrains Toolbox
!/.idea/icon.png
!/.idea/vcs.xml
*.iml

settings.xml
.classpath.txt
.fullclasspath.txt

.mvn/wrapper/maven-wrapper.jar
